.comments {
    padding: 2em;
}

.comments-list {
    padding: 1em 0;
}

.comment-item {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 14px;
}

.comment-body {
    padding: 1em;
    text-align: justify;
}