.posts-list {
    font-weight: 100;
    list-style: none;
    padding: 2em;
    margin: 0;
}

.post-item {
    border-bottom: 1px solid #333;
    padding: 2em .5em;
}

.post-top {
    display: block;
    color: #000;
}

.post-top:hover {
    cursor: pointer;
    color: #2bc;
}

.icon-btn {
    background: none;
    border: none;
    color: #2bc;
}

.icon-btn:hover {
    cursor: pointer;
}

.post-bottom {
    display: flex;
    justify-content: space-between;
}

.comments-count {
    float: right;
}